<section>
   <div class="mt-5 w-75 mx-auto">
    <div>
        <div class="acercar d-flex justify-content-between align-items-center bg-white border shadow p-4 rounded">
            <div>
                <h2 class="h5 mb-1">Total de tareas</h2>
                <p class="mb-0">3</p>
            </div>
            <div class="text-end fs-3 text-primary">
                 <img src="https://cdn4.iconfinder.com/data/icons/computer-and-web-2/500/Survey-512.png" width="32" alt="">
            </div>
        </div>

    </div>
    <div>
        <div class="acercar d-flex justify-content-between align-items-center bg-white border shadow p-4 rounded mt-4">
            <div>
                <h2 class="h5 mb-1">Tareas Pendientes</h2>
                <p class="mb-0">3</p>
            </div>
            <div class="text-end fs-3 text-primary">
                <img src="https://cdn0.iconfinder.com/data/icons/construction-2-21/512/construction-industry-building-36-512.png" width="32" alt="">
            </div>
        </div>
    </div>
    <div>
        <div class="acercar d-flex justify-content-between align-items-center bg-white border shadow p-4 rounded mt-4">
            <div>
                <h2 class="h5 mb-1">Tareas Completadas</h2>
                <p class="mb-0">3</p>
            </div>
            <div class="text-end fs-3 text-primary">
                 <img src="https://cdn0.iconfinder.com/data/icons/ikooni-outline-free-basic/128/free-05-512.png" width="32" alt="">
            </div>
        </div>
    </div>
    <div>

    </div>
   </div>
</section>
